/* Variables bij oefening Fotografie */

// Kleuren

$wit: white;
$licht: #CCD;
$medium: #888;
$donker: #123;
$donkerder: #1B2027;
$zwart: black;
$accent: #E71;

// Fonts

$hoofdfont: "Roboto Slab", Arial, sans-serif;

// Beeldschermen

$smal-scherm: 480px;
$medium-scherm: 750px;
$breed-scherm: 1140px;